mkdocs>=1.6.0
mkdocs-material>=9.5.0
mkdocs-glightbox>=0.3.7
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.8.0
pymdown-extensions>=10.7
plotly>=5.18.0
pandas>=2.0.0
kaleido>=0.2.1
lifelines>=0.27.0
